<section class="container">
  <div id="m-box-1">
    <img class="img" src="images/wendy.png">
    <hr>
      <section class="info-container">
        <p>WENDY</p>
        <article class="text-info" id="wendy-info">
          <p> It's way better than fast food... It's Wendy's.</p>
        </article>
      </section>
   </div>
  <div id="m-box-2">
    <div id="center-text">
    <h1>THE BATTLE OF THE CENTURY</h1>
      <h2>WENDY vs. RONALD</h2>
      <p>Submit your opinion about the 2109 elections! <br /><br /> Hi voter, we're collecting data on what the general public think of the two major parties running in the 2109 elections.</p>
      <form id="form" method="post">
        <div>
            <label for="name">EMAIL:</label>
        </div>
        <div>
            <input type="email" id="mail" name="email">
        </div>
        <br />
        <div>
            <label for="subject">SUBJECT:</label>
        </div>
        <div>
            <input type="text" id="subject" name="subject">
        </div>
        <br />
        <div>
            <label for="msg">Message:</label>
            <textarea id="msg" name="message"></textarea>
        </div>
        <div>
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
  <div id="m-box-3">
   <img class="img" src="images/ronald.png">
    <hr>
      <section class="info-container">
        <p>RONALD McDONALD</p>
        <article id="ronald-info" class="text-info">
          <p>Two all-beef patties, special sauce, lettuce, cheese, pickles, onions on a sesame seed bun.</p>
        </article>
      </section>
   </div>
</section>