<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NEW YORK POST</title>
  <link rel="stylesheet" href="main.css"></link>
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
</head>
<body>
  <header>
    <section class="container">
      <div id="h-box-1">
      </div>
      <div id="h-box-2">
        <img id="header-img" src="images/nypost.png">
      </div>
      <div id="h-box-3">
      </div>
    </section>
  </header>

    <%= yield %>
    <style src="main.js"></style>
  
  <footer>
  </footer>
</body>
</html>